---
import Layout from "../layouts/Layout.astro";

import Landing from "../components/Landing.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title="Portfolio de Hugocrown - Desarrollador Web">
  <main class="flex flex-col items-center justify-center w-full">
    <Landing />
    <AboutMe />
  </main>
</Layout>
