---
import BorderedText from "./BorderedText.astro";
import MyCard from "./MyCard.astro";
import CVIcon from "./icons/CVIcon.astro";
import JavaScript from "./icons/JavaScript.astro";
import NextJS from "./icons/NextJS.astro";
import React from "./icons/React.astro";
import Tailwind from "./icons/Tailwind.astro";
import NodeJS from "./icons/NodeJS.astro";
import AWS from "./icons/AWS.astro";
import Git from "./icons/Git.astro";
import MongoDB from "./icons/MongoDB.astro";
import MySQL from "./icons/MySQL.astro";
import Redux from "./icons/Redux.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Link from "./Link.astro";

import CV from "../assets/CV-HugoCorona.pdf";

const SKILLS = [
  {
    name: "JavaScript",
    icon: JavaScript,
  },
  {
    name: "React",
    icon: React,
  },
  {
    name: "Next.js",
    icon: NextJS,
  },
  {
    name: "Tailwind CSS",
    icon: Tailwind,
  },

  {
    name: "Node.js",
    icon: NodeJS,
  },
  {
    name: "AWS",
    icon: AWS,
  },
  {
    name: "Git",
    icon: Git,
  },
  {
    name: "MongoDB",
    icon: MongoDB,
  },
  {
    name: "mySQL",
    icon: MySQL,
  },
];
---

<section id="sobre-mi" class="w-full mt-32 flex-col flex bg-[#00004d] px-2">
  <BorderedText>SOBRE MÍ</BorderedText>
  <div
    class="flex flex-col w-full max-w-[980px] items-center mx-auto mt-14 min-[980px]:mt-4"
  >
    <div
      class="flex flex-col min-[980px]:flex-row w-full gap-x-[50px] gap-y-8 items-center justify-evenly mb-14"
    >
      <MyCard />
      <div
        class="bio flex flex-col justify-end gap-y-12 max-w-[615px] h-full text-pretty"
      >
        <div>
          <p class="text-white text-[16px]">
            Mi nombre es <span class="text-[#52CCFF]">Hugo Corona </span> y resido
            en <span class="text-[#52CCFF]"
              >Ensenada, Baja California, México</span
            >. Desde niño me apasiona el mundo de la tecnología y la
            informática. La primera vez que programé fue en un curso de C en
            Khan Academy y desde entonces he probado muchos lenguajes y
            tecnologías diferentes.
          </p>
          <p class="text-white text-[16px] mt-4">
            Mi objetivo es desarrollar soluciones tecnológicas innovadoras que
            ofrezcan una excelente experiencia a los usuarios. Me apasiona el
            aprendizaje continuo y estoy siempre buscando entornos que me
            permitan seguir creciendo y mejorando como profesional.
          </p>

          <p class="text-white text-[16px] mt-4">
            Algunas de mis habilidades son:
          </p>
          <ul class="flex flex-wrap gap-2 mt-2 text-sm">
            {
              SKILLS.map((skill) => (
                <li>
                  <span
                    class={`text-white flex gap-x-2 items-center rounded-full bg-black/25 border-[1px] border-[#52CCFF] py-1 px-4`}
                  >
                    <skill.icon class="size-5" />

                    {skill.name}
                  </span>
                </li>
              ))
            }
          </ul>
        </div>
        <Link
          href={CV}
          download="CV-HugoCorona"
          class="flex items-center justify-center gap-x-2 min-w-[218px] w-fit min-h-[60px] bg-[#070A0B] border-2 border-[#070A0B] text-[#E8E9ED] text-[22px] font-semibold rounded-[12px] hover:bg-[#ffffff] hover:text-[#000000] transition-colors"
          ><CVIcon />Descargar CV
        </Link>
      </div>
    </div>
    <div class="flex flex-col w-full py-8 text-white text-[16px]">
      <h3 class="font-semibold text-4xl mb-2">INFORMACIÓN PERSONAL</h3>
      <div
        class="flex justify-between gap-x-2 w-full py-2 border-t-2 border-white"
      >
        <strong>Nombre</strong>
        <span>Hugo Alejandro Corona Ruvalcaba</span>
      </div>
      <div class="flex justify-between w-full py-2 border-t-2 border-white">
        <strong>Edad</strong>
        <span id="age"></span>
      </div>
      <div
        class="flex justify-between gap-x-2 w-full py-2 border-t-2 border-white"
      >
        <strong>Ubicación</strong>
        <span>México, Ensenada, Baja California</span>
      </div>
      <div class="flex justify-between w-full py-2 border-y-2 border-white">
        <strong>Idiomas</strong>
        <span>Español nativo / Inglés B2</span>
      </div>
    </div>
    <div class="flex flex-col w-full py-8 text-white text-[16px]">
      <h3 class="font-semibold text-4xl mb-2">ESTUDIOS</h3>
      <div
        class="flex items-center justify-between w-full py-2 border-t-2 border-white"
      >
        <div class="flex flex-col">
          <strong>Ingenieria en Sistemas Computacionales</strong><span
            >Instituto Tecnológico de Ensenada</span
          >
        </div>
        <span>2019 - 2024</span>
      </div>

      <div
        class="flex items-center justify-between w-full py-2 border-y-2 border-white"
      >
        <div class="flex flex-col">
          <strong>Curso Full Stack Open</strong><span
            >Universidad de Helsinki</span
          >
        </div>
        <span>2023 - 2023</span>
      </div>
    </div>
    <div class="flex flex-col w-full py-8 text-white text-[16px]">
      <h3 class="font-semibold text-4xl mb-2">EXPERIENCIA</h3>
      <div
        class="flex items-center justify-between w-full py-2 border-y-2 border-white"
      >
        <div class="flex flex-col">
          <strong>Desarrollador Full Stack</strong><span
            >Punta Banda Plus (Residencia profesional)</span
          >
        </div>
        <span>2023 - 2024</span>
      </div>
      <div
        class="flex items-center justify-between w-full py-2 border-b-2 border-white"
      >
        <div class="flex flex-col">
          <strong>Soporte Técnico</strong><span
            >Instituto Estatal Electoral de Baja California (IEEBC)</span
          >
        </div>
        <span>2024 - 2024</span>
      </div>
    </div>
  </div>
</section>

<style>
  .bio {
    animation: fade-in-text auto both;
    animation-timeline: view();
    animation-range: entry 40% cover 60%;
  }

  @keyframes fade-in-text {
    from {
      transform: translate(0px, 200px);

      box-shadow: 0;
    }
    to {
      transform: translate(0);
    }
  }
</style>

<script>
  function calculateAge(dateOfBirth) {
    const dob = new Date(dateOfBirth);
    const today = new Date();
    let age = today.getFullYear() - dob.getFullYear();
    const month = today.getMonth() - dob.getMonth();
    if (month < 0 || (month === 0 && today.getDate() < dob.getDate())) {
      age--;
    }
    return age + " Años";
  }

  const dateOfBirth = "1999-11-09";

  document.getElementById("age").textContent = calculateAge(dateOfBirth);
</script>
