<h2 class="w-fit text-[#bebebe62] font-extrabold h-fit bordered m-0">
  <slot />
</h2>

<style>
  .bordered {
    color: #0d05d2;

    /* text-shadow:
      -1px -1px 0 #e8e9ed,
      1px -1px 0 #e8e9ed,
      -1px 1px 0 #e8e9ed,
      1px 1px 0 #e8e9ed; */

    animation: show-title auto linear;

    animation-timeline: view();
    animation-range: entry 10% cover 50%;
  }

  h2 {
    font-size: clamp(40px, 8vw, 220px);
  }

  @keyframes show-title {
    from {
      transform: translate(-1000px);
      opacity: 0;
    }
    to {
      transform: translate(0px);
      opacity: 1;
    }
  }
</style>
