<h1
  class="text-[110px] w-fit text-[#bebebe62] min-[1385px]:text-[220px] font-extrabold italic h-fit -mt-4 bordered"
>
  <slot />
</h1>

<style>
  .bordered {
    color: #121c75;
    text-shadow:
      -1px -1px 0 #e8e9ed,
      1px -1px 0 #e8e9ed,
      -1px 1px 0 #e8e9ed,
      1px 1px 0 #e8e9ed;
  }
</style>
