<header
  class="fixed mt-4 min-[440px]:mt-2 flex items-center justify-center min-[575px]:h-[54px] text-[#E8E9ED] text-xs min-[575px]:text-[16px] font-semibold z-50 top-0"
>
  <nav
    class="flex items-center justify-center h-full rounded-full overflow-hidden border-[1px] border-[#E8E9ED]"
  >
    <a
      href="#"
      class="flex items-center justify-center w-[85px] min-[575px]:w-[142px] px-1 py-2 min-[575px]:p-3 h-full border-r-[1px] border-[#E8E9ED] gap-x-1 bg-black hover:text-[#070A0B] hover:bg-[#E8E9ED] transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-home"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
          d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
          d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg
      >
      Home</a
    >
    <a
      href="#sobre-mi"
      class="flex items-center justify-center w-[85px] min-[575px]:w-[142px] px-1 py-2 min-[575px]:p-3 h-full border-r-[1px] border-[#E8E9ED] gap-x-1 bg-black hover:text-[#070A0B] hover:bg-[#E8E9ED] transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-mood-smile"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
          d="M9 10l.01 0"></path><path d="M15 10l.01 0"></path><path
          d="M9.5 15a3.5 3.5 0 0 0 5 0"></path></svg
      >
      Sobre mí</a
    >
    <a
      href="#projects"
      class="flex items-center justify-center w-[85px] min-[575px]:w-[142px] px-1 py-2 min-[575px]:p-3 h-full border-r-[1px] border-[#E8E9ED] gap-x-1 bg-black hover:text-[#070A0B] hover:bg-[#E8E9ED] transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-layout-collage"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
        ></path><path d="M10 4l4 16"></path><path d="M12 12l-8 2"></path></svg
      >
      Proyectos</a
    >
    <a
      href="mailto:hugo.corona.r@gmail.com"
      class="flex items-center justify-center w-[85px] min-[575px]:w-[142px] px-1 py-2 min-[575px]:p-3 h-full gap-x-1 bg-black hover:text-[#070A0B] hover:bg-[#E8E9ED] transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-send"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M10 14l11 -11"></path><path
          d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
        ></path></svg
      >
      Contacto</a
    >
  </nav>
</header>
