<a
  {...Astro.props}
  rel="noopener noreferrer"
  target="_blank"
  class="flex items-center justify-center gap-x-1 w-fit px-4 py-2 bg-[#070A0B] border-2 border-[#ffffff54] text-[#E8E9ED] text-[16px] font-semibold rounded-[12px] hover:bg-[#E8E9ED] hover:text-[#070A0B] transition-colors"
>
  <slot />
</a>
