<h1 class="text-[#00004d] text-[110px] font-extrabold absolute -right-1">
  Hugo Corona
</h1>
<h1 class="wave-name text-black text-[110px] font-extrabold absolute -right-1">
  Hugo Corona
</h1>

<style>
  .wave-name {
    color: #0d05d2;
    animation: wave-name 6s ease-in-out infinite;
  }

  @keyframes wave-name {
    0%,
    100% {
      clip-path: polygon(
        0 36%,
        12% 32%,
        24% 32%,
        37% 36%,
        59% 48%,
        78% 54%,
        100% 53%,
        100% 100%,
        0 100%
      );
    }

    50% {
      clip-path: polygon(
        0 56%,
        20% 58%,
        40% 51%,
        55% 43%,
        70% 37%,
        83% 35%,
        100% 36%,
        100% 100%,
        0 100%
      );
    }
  }
</style>
