---

---

<div
  class="text-[24px] text-[#F3B342] absolute z-20 -translate-x-12 min-[412px]:translate-x-48 min-[980px]:translate-x-72 -translate-y-[86px] transition-transform"
>
  <svg width="152" height="152">
    <path id="curve" d="M 22.4 76 A 54 54 0 1 1 22.4 77.6"> </path>
    <text class="text">
      <textPath href="#curve"> • CARPE DIEM • CARPE DIEM • </textPath>
    </text>
    <svg x="36" y="36" width="108" height="108">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="80"
        height="80"
        viewBox="0 0 24 24"
        fill="currentColor"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-crown"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z"></path>
      </svg>
    </svg>
  </svg>
</div>

<style>
  .text {
    fill: #f3b342;
    font-weight: 500;
    transform-origin: 50% 50%;
    animation: rotate 10s linear infinite;
  }

  #curve {
    fill: transparent;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
